/* General styles begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(217, 48, 48, 1);
    --secondary-color: rgba(173, 164, 164, 1);
    --tertiary-color: rgba(18, 18, 18, 1);
    --quaternary-color: rgba(250, 250, 250, 1);
    --title-color: rgba(131, 128, 128, 1);
}
/* General styles end */
/* Header styles begin*/
header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*just in case
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;*/
}

header h1 {
    font-weight: bold;
    font-size: 3.5vw;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    width: 40%;
    padding: 1% 2% 1% 5%;
    text-align: right;   
}

header ul li a {
    text-decoration: none;
    color: var(--quaternary-color);
}

header nav {
    margin: 2% 0% 0% 0%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 0px 10px 0px 10px;
    font-weight: lighter;
    font-size: 1.75vw;
    margin-right: 45px;
    border-bottom: 3px solid var(--quaternary-color)
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    text-shadow: none;
}
/* Header styles end*/
/* Hero styles begin*/
.hero {
    
    background-image: url("../images/Francisco-photos.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: 10%; 
    padding: 230px 0px 20px 0px;

}

.subtitle {
    width: 30%;
    margin-top: auto;
    margin-left: 66.4%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 10px 0px;
    font-size: 1.5vw;
}
/* Hero styles end*/
/* Main styles begin */
main {
    padding: 4% 1% 1% 1%;
    background-color: var(--quaternary-color);
}

.information {
    padding-bottom: 4%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.am {
    font-size: 3.2vw;
    border-right: 3px solid var(--primary-color);
    color: var(--title-color);
    padding-bottom: 5%;
    padding-right: 1%;
    padding-left: 5%;
    text-align: right;
}

.about-me {
    font-size: 1.5vw;
    flex: 1 75%;
    margin-left: 3%;
    text-align: left;
    margin-right: 2%;
    text-align: justify;
}

.w {
    font-size: 3.2vw;
    border-right: 3px solid var(--primary-color);
    color: var(--title-color);
    padding-bottom: 5%;
    padding-right: 0.9%;
    padding-left: 6%;
    text-align: right;
}

.img-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 75%;
    margin-left: 3%;
}

.img-flex-surf{
    width: 100%;
    border: 6px solid var(--secondary-color);
    background-image: url("../images/surf.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    min-height: 300px;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: .8;
}

.img-flex-led-wall{
    width: 48%;
    border: 6px solid var(--secondary-color);
    background-image: url("../images/led-wall.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: .8;
}

.img-flex-calculator{
    width: 48%;
    border: 6px solid var(--secondary-color);
    background-image: url("../images/calculator.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: .8;
}

.img-flex-puzzles{
    width: 48%;
    border: 6px solid var(--secondary-color);
    background-image: url("../images/puzzles.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: .8;
}

.img-flex-run-buddy{
    width: 48%;
    border: 6px solid var(--secondary-color);
    background-image: url("../images/run-buddy.jpeg");
    background-size: 102% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: .8;
}

.img-flex-info-main {
    width: 20%;
    margin-top: 220px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: left;
    padding: 15px 0px 15px 10px;
    font-size: 1.2vw;
}

.img-flex-info-secondary {
    width: 35%;
    margin-top: 110px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: left;
    padding: 15px 0px 15px 10px;
    font-size: 1.3vw;
}
.img-flex-surf:hover, .img-flex-led-wall:hover, .img-flex-calculator:hover, .img-flex-puzzles:hover, .img-flex-run-buddy:hover {
    opacity: 1;
}


.c {
    font-size: 3.2vw;
    border-right: 3px solid var(--primary-color);
    color: var(--title-color);
    padding-bottom: 3%;
    padding-right: 1%;
    padding-left: 2.1%;
    text-align: right;
}

.contact-info {
    font-size: 2vw;
    flex: 2 75%;
    margin-left: 3%;
    padding-top: 5%;
    padding-right: 2%;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

.contact-info ul li a {
    color: var(--tertiary-color);
}

.contact-info ul li a:hover {
    background: var(--secondary-color);
    color: var(--quaternary-color);
    border-bottom: 3px solid var(--quaternary-color);
}

.information:last-child {
    padding-bottom: 0%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Main styles end */
/* Footer  begin */

footer {
    background: var(--quaternary-color);
    width: 100%;
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

footer h4 {
    color: var(--secondary-color);
    font-size: 1.3vw;
}
/* Footer  end */


/* Media query  begin */

@media screen and (max-width: 980px) {
    .hero {
        width: 100%;
        background-size: 100% 100%;
        max-height: 260px;
        padding: 180px 0px 20px 0px;
    }

    .img-flex-surf{
        background-size: 100% 100%;
        min-height: 220px;
        padding: 0px;
    }

    .img-flex-run-buddy, .img-flex-led-wall, .img-flex-puzzles, .img-flex-calculator {
        background-size: 100% 100%;
        min-height: 220px;
        padding: 0px;
    }

    .img-flex-info-main {
        margin-top: 140px;

    }

    .img-flex-info-secondary {
        margin-top: 135px;
    }
}

@media screen and (max-width: 768px) {
    
    header {
        padding: 20px 0px 20px 0px;
    }

    header h1 {
        font-size: 4vw;
        width: 35%;
        padding: 1% 2% 1% 2%; 
        margin-right: 2.7%;
    }
      
    header nav ul li a {
        font-size: 2.2vw;
        margin-right: 38px;
    }

    .hero {
        max-height: 240px;
        padding: 150px 0px 20px 0px;
    }

    .subtitle {
        font-size: 1.8vw;
    }

    .about-me {
        font-size: 1.95vw;
    }

    .img-flex-surf{
        min-height: 190px;
    }

    .img-flex-run-buddy, .img-flex-led-wall, .img-flex-puzzles, .img-flex-calculator {
        min-height: 190px;
    }

    .img-flex-info-main {
        margin-top: 110px;
        font-size: 1.75vw;

    }

    .img-flex-info-secondary {
        margin-top: 110px;
        font-size: 1.7vw;
    }
   
}
@media screen and (max-width: 575px) {

    header h1 {
        width: 100%;
        font-size: 6vw;
        padding: 1% 2% 1% 2%; 
        margin-right: 0%;
        text-align: center;
    }

    header nav ul {
        justify-content: space-around;
        margin-left: 80px;
    }
      
    header nav ul li a {
        font-size: 2.8vw;
        margin-right: 38px;
    }

    .hero {
        max-height: 200px;
        background-size: 165% 100%;
        padding: 100px 0px 20px 0px;
    }

    .subtitle {
        font-size: 2.2vw;
    }

    .about-me {
        font-size: 2.2vw;
    }

    .img-flex-surf{
        min-height: 160px;
    }

    .img-flex-run-buddy, .img-flex-led-wall, .img-flex-puzzles, .img-flex-calculator {
        min-height: 160px;
    }

    .img-flex-info-main {
        margin-top: 80px;
        font-size: 1.9vw;
        width: 25%;
    }

    .img-flex-info-secondary {
        margin-top: 80px;
        font-size: 1.9vw;
        width: 45%;
    }

    .contact-info{
        font-size: 2.5vw;
    }
    
    footer h4 {
        font-size: 2vw;
    }

}

@media screen and (max-width: 380px) {
    header h1 {
        font-size: 7vw;
    }

    header nav ul {
        margin-left: 60px;
    }
      
    header nav ul li a {
        font-size: 3.5vw;
        margin-right: 45px;
        
    }

    .am {
        font-size: 5vw;
        padding-left: 5%;
    }

    .about-me {
        font-size: 3.5vw;
        flex: 1 55%;
    }

    .w {
        font-size: 5vw;
    }
    .img-flex-container {
        flex: 1 55%;
    }

    .c {
        font-size: 5vw;
        padding-left: 0.7%;
    }
    
    .contact-info {
        font-size: 4vw;
        flex: 1 5%;
        margin-left: 2%;
        padding-top: 0%;
        
    }

    .img-flex-info-main {
        margin-top: 80px;
        font-size: 3.5vw;
        width: 50%;
    }

    .img-flex-info-secondary {
        margin-top: 70px;
        font-size: 3vw;
        width: 75%;
    }

}

/* Media query  end */
