/* General styles begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d93030;
    --secondary-color: #ada4a4;
    --tertiary-color: #121212;
    --quaternary-color: #fafafa;
    --title-color: #838080;
}
/* General styles end */
/* Header styles begin*/
header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 3.5vw;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    width: 400px;
    padding: 10px 0px 10px 35px;
    text-align: center;   
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
}

header nav {
    margin: 15px 0px 5px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 10px 0px 10px;
    font-weight: lighter;
    font-size: 1.75vw;
    margin-right: 25px;
    border-bottom: 3px solid var(--quaternary-color)
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    text-shadow: none;
}
/* Header styles end*/
/* Hero styles begin*/
.hero {
    
    background-image: url("../images/Francisco-photos.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: 10%; 
    padding: 230px 0px 20px 0px;
}

.subtitle {
    width: 30%;
    margin-top: auto;
    margin-left: 66.4%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 10px 0px;
    font-size: 1.5vw;
}
/* Hero styles end*/
/* Main styles begin */
main {
    padding: 20px 35px 0px 0px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-titles {
    font-size: 3.2vw;
    border-right: 3px solid var(--primary-color);
    color: var(--title-color)
}
.section-titles p {
    font-size: 1.2vw;
}
.img-flex-surf{
    width: 60%;
    border: 4px solid var(--secondary-color);
    background-image: url("../images/surf.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    min-height: 300px;
    margin-bottom: 15px;
    display: inline-block;
}

.img-flex-led-wall{
    width: 30%;
    border: 4px solid var(--secondary-color);
    background-image: url("../images/led-wall.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    display: inline-block;
    margin-bottom: 15px;

}

.img-flex-calculator{
    width: 30%;
    border: 4px solid var(--secondary-color);
    background-image: url("../images/calculator.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 15px;
    display: inline-block;
}
.img-flex-puzzles{
    width: 30%;
    border: 4px solid var(--secondary-color);
    background-image: url("../images/puzzles.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 15px;
    display: inline-block;
}
.img-flex-run-buddy{
    width: 30%;
    border: 4px solid var(--secondary-color);
    background-image: url("../images/run-buddy.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px 0px;
    min-height: 150px;
    margin-bottom: 15px;
    display: inline-block;
}

.img-flex-info-main {
    width: 20%;
    margin-top: 65%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: left;
    padding: 15px 0px 15px 10px;
    font-size: 1.2vw;
}

.img-flex-info-secondary {
    width: 35%;
    margin-top: 65%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: left;
    padding: 15px 0px 15px 10px;
    font-size: 1.3vw;
}
/* Main styles end */
/* Footer  begin */

footer {
    background: var(--quaternary-color);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}
footer h4 {
    color: var(--secondary-color);
    font-size: 1.3vw;
    
}
/* Footer  end */


/* Media query  begin */
/* Media query  end */
